.entete {
  background-color: #356494;
  color: white;
  padding: 1rem 2rem;
  margin: 0;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 5%;
  }

  &__menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    a {
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
