.entete {
  background-color: primary;
  color: white;
  padding: 1rem;

  &__contenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 5%;
  }

  &__menu {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    a {
      color: #0e6b6b;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
