// ==============================
// Couleurs
// ==============================
$couleur-primaire: #004080;
$couleur-secondaire: #f4f4f4; 
$couleur-texte: #333;
$couleur-fond-clair: #ffffff;
$couleur-hover: rgb(233, 227, 177);

// ==============================
// Typographie
// ==============================
$font-principale: 'Montserrat', sans-serif;
$font-secondaire: 'Poppins', sans-serif;

// ==============================
// Tailles
// ==============================
$largeur-max: 1200px;
$espace: 1rem;
