// ==============================
// Couleurs
// ==============================
$couleur-primaire: #004080;
$couleur-secondaire: #e6f0ff;
$couleur-texte: #333;
$couleur-fond: #f4f4f4;
$couleur-bouton: #fff;
$couleur-hover: #dbe8ff;

// ==============================
// Typographie
// ==============================
$font-principale: 'Montserrat', sans-serif;
$font-titre: 'Poppins', sans-serif;

// ==============================
// Tailles
// ==============================
$largeur-max: 1200px;
$espace: 1rem;
