.formulaire {
    display: flex;
    gap: 1rem;
    margin: 2rem auto;
    justify-content: center;
  
    &__input, &__btn {
      padding: 0.5rem 1rem;
      border: 1px solid $couleur-primaire;
      border-radius: 5px;
      font-size: 1rem;
    }
  
    &__btn {
      background-color: $couleur-primaire;
      color: $couleur-bouton;
      cursor: pointer;
    }
  }
  